body{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid{
  padding: 1% 10%;
}



.iphone6{
  transform: rotate(20deg);
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
